<div class="container-fluid pro-fil1">
    <h3>Filters</h3>
    <div class="row">
        <div class="mutiple-addition">
            <h6>Digital Course</h6>
            <multiple-select my-enter name="Select Institute" required ng-model="search.DigitalCourse" ng-name="searchF.DigitalCourseName"
                api="digtitalCourseSearch"></multiple-select>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-success" ng-click="getAllItems(search)">Go</button>
            <button class="btn btn-danger" ng-click="clearFilter()">Clear</button>
            <button class="btn btn-danger" ng-click="closeFilter()">Cancel</button>
        </div>


        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>