<!DOCTYPE html>
<html>

<head>
    <meata charset="UTF-8">
        <title>certificate</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Dosis:500');
            @font-face {
                font-family:"BebasNeue";
                src: url("../frontend/font/BebasNeue Bold.otf");
            }
            @font-face {
                font-family:"DejaVuSans";
                src: url("../frontend/font/DejaVuSans.ttf");
            }

            table {
                width: 600px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }
            td{
              text-align: center;
            }
        </style>
</head>

<body>
    <table background="../frontend/img/certificate.jpg">
        <thead>
            <caption>
            </caption>
        </thead>
        <tbody>
            <tr>
                <td style="font-family:BebasNeue;padding-top:200px;text-transform:uppercase;color:#0e5101">
                  <p style="font-size:55px;font-weight: 600;margin:0">Certificate</p>
                  <p style="font-size: 30px;
    border-bottom: 2px solid #0e5101;
    margin: 5px 210px;">Of Completion</p>
                </td>
            </tr>
            <tr>
                <td>
                  <p style="margin-top: 50px;font-size:24px;color:#393216;font-family:DejaVuSans;">This is to certify that</h1>
                </td>
            </tr>
            <tr>
                <td>
                  <p style="border-bottom: 2px solid #393216;margin:0px 80px;font-size:24px;color:#393216;font-family:DejaVuSans;">snehal thakare</h1>
                </td>
            </tr>
            <tr>
                <td>
                  <p style="font-size:24px;color:#393216;font-family:DejaVuSans;">has completed the Digital Course in <span>Banking</span>,</p>
                </td>
            </tr>
            <tr>
                <td>
                  <p style="font-size: 24px;color:#393216;font-family: DejaVuSans;margin: 0 0px 270px 0;">on Pehla Kadam Season 3, 2017.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
