<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <style>
        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td class="text-center">
                    <a style="margin-top: 30px;"><img src="http://pehla.wohlig.co.in/backend/img/logo.png" width="100" height="auto" style="margin: 0 auto;"><br></a>
                </td>
            </tr>
            <tr>
                <div class="text-left">
                    <h3>Dear
                        <%=name%><span style="font-weight: bold;"></span></h3>


                    <div>Thank you for sending us your query. We are pleased to reply to the same. If you have any more queries
                        feel free to contact us and we will be more than happy to help you.</div>
                </div>
                <!--<h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">Dear </h2>-->

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="main-div" style="padding: 0px; text-align: justify; font-family: TitilliumWeb-Regular;font-size: 17px;">

                        <p style="margin-bottom: 0px; color:red;">Question:
                            <%=question%> <span style="font-weight: bold;"></span>
                        </p>

                        <p style="margin-bottom: 0px;  color:green;">Answer:
                            <%=answer%> <span style="font-weight: bold;"></span>
                        </p>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    Regards, <br>Team Pehla Kadam - Season 3 <br>A Financial Education Initiative
                </td>
            </tr>
            <tr>
                <td>
                    Visit our webpage : www.pehalkadam.in<br>Like our page of Facebook: https:www.facebook.com/pehlakadam03/<br>Follow
                    Us on Twitter : https://twitter.com/Pehlakadam03
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>