<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <style>
        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td class="text-center">
                    <div><a href="http://pehlakadam.in/" target="_blank" style="margin-top: 30px;"><img src="http://pehlakadam.in/backend/img/logo.png" width="200" height="auto" style="margin: 0 auto;"></a></div>
                    <div style="text-align:center;">Visit our webpage : <a href="http://pehlakadam.in/" style="color:#000">www.pehalkadam.in</a></div>
                </td>
            </tr>
            <tr>
                <div class="text-left">
                    <h3>Dear
                        <%=name%><span style="font-weight: bold;"></span></h3>
                    <div style="margin-bottom: 10px;">Thank you for sending us your query. We are pleased to reply to the same. If you have any more queries
                        feel free to contact us and we will be more than happy to help you.</div>
                </div>
                <!--<h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">Dear </h2>-->

            </tr>
        </thead>
        <tbody>

            </tr>
            <tr>
                <td style="margin-bottom: 10px;">
                    Regards, <br>Team Pehla Kadam - Season 3 <br>A Financial Education Initiative
                </td>
            </tr>
            <tr>
                <td>
                    Like our page of Facebook: <a href="https:www.facebook.com/pehlakadam03/" target="_blank" style="color:#000"> https:www.facebook.com/pehlakadam03/</a><br>Follow
                    Us on Twitter : <a href="https://twitter.com/Pehlakadam03" target="_blank" style="color:#000">https://twitter.com/Pehlakadam03</a>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>