 @media (max-width: $screen-sm-max) {
     // Tablet
     .img-height {
         height: 200px;
     }
     footer {
         .footer-list-padd {
             text-align: center;
         }
         li {
             &:before {
                 display: none;
             }
         }
     } //scss for header
     header .header-border {
         width: 80%;
         margin-left: 20%;
     } //scss for home
     .education-background {
         .education-img-size {
             height: auto;
         }
     }
     .episode-border {
         height: auto;
     }
     .latest-episode {
         margin-bottom: 30px;
     }
     .three-icon h2 {
         font-size: 24px;
     }
     .home-slider {
         padding: 55px 0 40px;
     }
     .small-episode {
         width: 222px;
     }
     .latest-line:before,
     .latest-line:after,
     .latest-line-2:after,
     .latest-line-2:before,
     .previous-line-2:before,
     .previous-line-2:after {
         width: 37%;
     }
     .previous-line:after,
     .previous-line:before {
         width: 36%;
     }
     .anchors-padding {
         padding: 20px 26px;
     }
     .kavita-tab {
         padding-left: 50px;
     }
     .anchors-img {
         margin: 0 auto;
     }
     .latest-buzz-content a {
         font-size: 17px;
     }
     .swiper-pagination-bullets {
         //  display: block !important;
     }
     .latest-buzz-detail {
         width: 100%;
         text-align: center;
     }
     .latest-buzz-img {
         margin: 0 65px
     } //scss for minutestips
     .minute-video {
         width: 358px;
     }
     .minute-first {
         margin-top: 34px;
         padding-top: 0;
         h1 {
             font-size: 32px;
         }
         &:before {
             height: 260px;
         }
     }
     .minute-query h3,
     .minute-query a {
         font-size: 22px;
     }
     .name-plate {
         width: 250px;
         margin-left: 28%;
     }
     #fancybox-loading,
     .fancybox-close,
     .fancybox-next span,
     .fancybox-prev span {
         background-image: url("../img/fancybox_sprite.png");
     }
     .minute-main .minutetips-heading:before {
         width: 530px;
     } //scss for gallery
     .gallery-inside {
         margin: 150px 0px 60px 0px;
     }
     .season-common:before {
         width: 47%;
     }
     .min-height-gallery {
         height: 242px;
         overflow: hidden;
     } //scss for about us 
     .about-modal-bg h1:after {
         width: 400px;
         bottom: 0;
     }
     .about-modal-bg {
         padding: 45px 50px;
     } //scss for episode
     .min-height-season {
         height: 535px;
         overflow: hidden;
     }
     .season-common {
         .video-icon {
             top: 38%;
         }
     }
     .search-episode {
         padding: 0 0 50px;
     } //scss for contests
     .contest-modal-heading h1 {
         font-size: 37px;
     } //scss for digital course
     .digital-course {
         margin-left: 66px;
         padding: 40px 40px 50px 80px;
     }
     .digital-login h3:before {
         width: 30%;
     }
     .digital-course:after {
         width: 25%;
     } //scss for digital-inside page
     .digital-heading h1 {
         font-size: 35px;
     }
     .digital-heading:before {
         width: 500px;
     } //scss for ask expert modal
     .ask-expert-bg {
         padding: 45px;
     }
    .education-background .new-flash-animation {
         font-size: 22px;
     }
 }