 @media (max-width: $screen-sm-max) {
     // Tablet
     footer {
         .footer-quick-link {
             margin: 0;
         }
         //  .row-flex {
         //      display: flex;
         //      width: 100%;
         //  }
         //  .col-flex {
         //      display: flex;
         //      flex: 1;
         //      padding: 0 0px!important;
         //      width: 50%;
         //  }
         .footer-list-padd {
             padding: 0px 10px 0 35px;
         }
     }
     //scss for header
     header .header-border {
         width: 65%;
         margin-left: 32%;
     }
     //scss for home
     .education-background img {
         height: auto;
     }
     .three-icon h2 {
         font-size: 24px;
     }
     .home-slider {
         padding: 55px 0 40px;
     }
     .small-episode {
         width: 222px;
     }
     .latest-line:before,
     .latest-line:after,
     .latest-line-2:after,
     .latest-line-2:before,
     .previous-line-2:before,
     .previous-line-2:after {
         width: 37%;
     }
     .previous-line:after,
     .previous-line:before {
         width: 36%;
     }
     .anchors-padding {
         padding: 20px 26px;
     }
     .kavita-tab {
         padding-left: 50px;
     }
     .anchors-img {
         margin: 0 auto;
     }
     .latest-buzz-content a {
         font-size: 17px;
     }
     .swiper-pagination-bullets {
         display: block !important;
     }
     .latest-buzz-detail {
         width: 100%;
     }
     .latest-buzz-img {
         margin: 0 65px
     }
     //scss for minutestips
     .minute-video {
         width: 358px;
     }
     .minute-first {
         margin-top: 34px;
         padding-top: 0;
         h1 {
             font-size: 32px;
         }
     }
     .minute-query h3,
     .minute-query a {
         font-size: 22px;
     }
     .name-plate {
         width: 221px;
         margin-left: 0px;
     }
     #fancybox-loading,
     .fancybox-close,
     .fancybox-next span,
     .fancybox-prev span {
         background-image: url("../img/fancybox_sprite.png");
     }
     //scss for gallery
     .gallery-inside {
         margin: 220px 0px 60px 0px;
     }
     .season-common:before {
         width: 47%;
     }
     //scss for about us 
     .about-modal-bg h1:after {
         width: 400px;
         bottom: 0;
     }
 }