 @media (max-width: $screen-xs-max) {
     // Mobile
     .img-height {
         height: 13vh;
     } //scss for header
     .navbar-nav {
         text-align: center !important;
         float: none !important;
     }
     .navbar-collapse {
         .pull-right {
             float: none !important;
         }
     }
     .navbar-brand img {
         width: 65px !important;
     }
     .navbar-nav>li>a {
         padding: 10px !important;
         display: block;
         text-align: center;
     }
    //  header .navbar-one li {
    // float: none;
    // display: block;
    //     }
     .dropdown-menu {
         position: static;
         margin: 0 10%;
         float: none;
     } //scss for home page
     .modal-bg {
         background-image: url("../img/modal-bg-mobile.jpg");
         padding: 50px 15px 70px 25px;
     }
     .education-background {
         .education-img-size {
             height: auto;
         }
         .episode-border {
             height: auto;
         }
         .eraser {
             img {
                 width: 45px;
             }
         }
     }
     .modal-pt {
         padding-top: 0px;
     }
     .three-icon {
         padding: 20px 0;
         h2 {
             margin: 10px 0;
             font-size: 10px;
         }
     }
     .gallery-bg .swiper-slide {
         width: 200px !important;
         height: 150px;
     }
     .gallery-bg .swiper-container {
         padding: 0;
     }
     .anchors-padding {
         padding: 0;
     }
     .swiper-pagination-bullets {
         //  display: block !important;
     }
     .latest-line:before,
     .latest-line:after,
     .latest-line-2:after,
     .latest-line-2:before,
     .previous-line-2:before,
     .previous-line-2:after {
         width: 26%;
     }
     .previous-line:after,
     .previous-line:before {
         width: 20%;
     }
     .kavita-tab {
         padding-left: 20px;
     }
     .episode-section {
         padding: 30px 0;
     }
     .anchors-section {
         .inline-block {
             display: block;
         }
         .anchors-img {
             margin: 0 auto;
         }
     }
     .yellow-slide h2 {
         padding: 10px 0 3px;
         font-size: 30px;
         letter-spacing: 5px;
     }
     .home-slider {
         padding: 30px 0 15px;
     }
     .btn-view-more {
         padding-top: 20px;
     }
     .small-episode {
         width: 100% !important;
         padding: 10px 15px 10px;
     }
     .episode-2 {
         padding: 0px;
         h1 {
             font-size: 30px;
         }
         h2 {
             font-size: 15px;
         }
     }
     .latest-episode .latest-commingsoon {
         margin: 0px 0;
         padding: 50px 0
     }
     .latest-buzz-content {
         text-align: center;
         a {
             font-size: 12px;
         }
     }
     .latest-buzz-detail {
         width: 100%;
     }
     .latest-buzz-img {
         margin: 0px auto;
         width: 100%;
     }
     .iframe-mob-width {
         width: 315px;
     }
     .p0-mobile {
         padding: 0;
     } //scss for footer
     footer {
         font-size: 10px;
         li {
             position: relative;
             display: inline;
             padding: 3px;
             &:before {
                 display: none;
             }
         }
     }
     .footer-list-padd {
         text-align: center;
     }
     .footer-img {
         float: none !important;
         img {
             margin: 0 auto;
         }
     }
     .design-by {
         text-align: center;
         float: none !important;
         margin-top: -10px !important;
     }
     .footer-bottom {
         text-align: center !important;
         float: none !important;
         margin: 0 !important;
     } //scss for minutestips
     .minute-first {
         h1 {
             font-size: 28px;
         }
         p {
             font-size: 12px;
         }
     }
     .minute-video {
         width: 100%;
     }
     .minute-first {
         padding: 0px;
         margin: 0;
         border: none;
     }
     .minute-first:before,
     .minute-first:after {
         border: none;
     }
     .minute-query h3:before {
         border: none;
     }
     .name-plate {
         width: 85%;
         margin-left: 7%;
     } //scss for contact
     .contact-modal-bg p,
     .contact-modal-bg .contact-address {
         font-size: 12px;
     }
     .expert-img {
         margin-top: 0px;
     }
     .minute-main {
         margin: 100px 0 50px;
         .inline-block {
             display: block;
         }
         .minutetips-heading {
             text-align: center;
             border: none;
             padding: 0;
             margin: 0;
             &:before,
             &:after {
                 display: none;
             }
         }
         
     } //scss for ask-expert modal
     .ask-expert-bg {
         font-size: 16px;
         padding: 10px;
     }
     .ask-modal .modal-dialog {
         width: auto;
     }
     .note p {
         font-size: 14px;
     }
     .ask-modal input {
         width: 170px;
     }
     .ask-modal .input-width {
         width: 200px;
     }
     .ask-modal .question-left {
         margin-left: 8px;
     } //scss for gallery page
     .season-common {
         border: 3px solid #fef424;
         padding: 15px 10px 20px;
         &:after {
             width: 22%;
             border-bottom: 3px solid #fef424;
         }
         &:before {
             width: 20%;
             border-bottom: 3px solid #fef424;
         }
     }
     .season-opacity {
         padding: 10px 10px 0;
     }
     .season-text {
         left: 50%;
         top: -28px;
         transform: translate(-50%);
         h3 {
             font-size: 22px;
         }
     }
     .gallery-pic-bottom {
         margin-bottom: 20px;
     }
     .gallery-btn button {
         margin-top: 0;
     }
     .gallery-inside {
         margin: 100px 0 0 0;
     }
     .min-height-gallery {
         height: 18.6vh;
         overflow: hidden;
     } //about us scss
     .about-modal-bg h1 {
         text-align: center;
         &:after {
             width: 200px;
             bottom: 0;
         }
     }
     .about-modal-bg {
         padding: 40px 10px;
     }
     .comming-soon h2 {
         margin-bottom: 40px;
     } //scss for episode
     .min-height-season {
         height: 23vh;
         overflow: hidden;
     }
     .search-episode {
         padding: 0px 0 35px;
     } //scss for contest
     .contest-modal-heading h1 {
         font-size: 16px;
     }
     .list-content-order {
         margin-top: 25px;
     }
     .contest-modal-img {
         margin-top: 25px;
         width: 200px;
         margin: 0 auto;
     }
     .contest-modal-bg .button-enter {
         margin: 40px 0px;
     } //digital course
     .digital-course {
         margin-left: 0;
         padding: 0;
         border: none;
         h1 {
             text-align: center;
             font-size: 25px;
         }
         h3 {
             font-size: 20px;
         }
     }
     .digital-login {
         margin-top: 0px;
     }
     .login-digital {
         padding: 0px 5px;
     }
     .course-fb,
     .course-google {
         margin: 30px 0px 0 0px;
     }
     .digital-login h3:before,
     .digital-course:before,
     .digital-course:after {
         display: none;
     } //scss for digital-inside page
     .digital-heading {
         border-left: none;
         h1 {
             font-size: 28px;
         }
         &:before,
         &:after {
             display: none;
         }
     }
     .computer-digital:before {
         display: none;
     }
     .digitalinside-main {
         margin: 100px 0 35px 0;
         .inline-block {
             display: block;
             padding: 0;
             margin: 0;
             text-align: center;
         }
     } //scss for ourpartner-modal
     .ourpartner-modal {
         margin: 40px 0 0px;
         h1 {
             font-size: 55px;
         }
     }
     .education-background .new-flash-animation {
         font-size: 10px;
         img {
             display: none;
         }
     }
     .minutestips-video-section {
         position: static;
     }
     header .navbar-default {
         border-color: transparent;
        .navbar-collapse{
             background: #2a755f;
         }
     }
     li.header-socialmedia {
         display: inline-block;
         margin: 5px 15px 0;
     }
     .navbar-default {
         .navbar-toggle:hover,
         .navbar-default .navbar-toggle:focus {
             background-color: #1e6558;
             .navbar-toggle {
                 border-color: #888;
                 .icon-bar {
                     background-color: #888;
                 }
             }
         }
         .navbar-toggle {
             border-color: #fff;
             .icon-bar {
                 background-color: #fff;
             }
         }
     }
     //scss for question-paper page
.question-section {
    margin: 125px 0 0px 0px;
    font-size: 15px;
    .radio-left {
    margin-left: 0px;
}
}
.question-page-bg{
    height: 87vh;
}
.sponser-bottom{
    margin-bottom: 30px;
}
.submit-question{
    margin-left: 0;
}
 }


 @media screen and ( min-height: 900px) {
     .minutestips-video-section {
         position: static;
     }
 }