<div class="digitalinside-bg">
    <div class="container">
        <div class="text-uppercase digitalinside-main">
            <div class="inline-block computer-digital">
                <img src="img/computer-inside.png" alt="">
            </div>
            <div class="inline-block digital-heading">
                <h1>Digital Courses</h1>
            </div>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('banking')">
            <div class="inline-block digital-course-type">
                <img src="img/banking.png" alt="">
                <p class="text-center">BANKING</p>
            </div>
        </div>
        <!--<div class="inline-block digital-course-type"  ng-click="displayQuestionSection('equity')">
            <img src="img/equity.png" alt="">
            <p>EQUITY</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('mutualfund')">
            <img src="img/MF.png" alt="">
            <p>MUTUAL FUNDS</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('commodities')">
            <img src="img/commo.png" alt="">
            <p>COMMODITIES</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('insurance')">
            <img src="img/insurance.png" alt="">
            <p>INSURANCE</p>
        </div>-->
        <div class="banking-episode" ng-if="banking">
            <div class="video-content">
                <p>Rules :</p>
                <ol>
                    <li>Watch all the videos carefully.</li>
                    <li>Take the Digital Course where questions are based on the videos.</li>
                    <li> If you answer all the questions correctly, an E-CERTIFICATE will be sent to your Registered Email Id.</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="digitalinside-video">
                        <img src="https://i.ytimg.com/vi/X7ZkEQMhlek/hqdefault.jpg" class="img-responsive">
                        <div class="video-digital">
                            <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek" fancybox>
                                <img src="img/youtube-icon.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="digitalinside-video">
                        <img src="https://i.ytimg.com/vi/HC7x-i_XI2k/hqdefault.jpg" class="img-responsive">
                        <div class="video-digital">
                            <a class="fancybox.iframe" href="https://www.youtube.com/embed/HC7x-i_XI2k" fancybox>
                                <img src="img/youtube-icon.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="digitalinside-video">
                        <img src="https://i.ytimg.com/vi/wlQiBbevewo/hqdefault.jpg" class="img-responsive">
                        <div class="video-digital">
                            <a class="fancybox.iframe" href="https://www.youtube.com/embed/wlQiBbevewo" fancybox>
                                <img src="img/youtube-icon.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center btn-banking" ui-sref="digital-question({userId:id})">
                <button type="submit" class="btn">Take Course</button>
            </div>
        </div>
    </div>
</div>