<div class="digitalinside-bg">
    <div class="container">
        <div class="text-uppercase digitalinside-main">
            <div class="inline-block computer-digital">
                <img src="img/computer-inside.png" alt="">
            </div>
            <div class="inline-block digital-heading">
                <h1>Digital Courses</h1>
            </div>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('banking')">
            <div class="inline-block digital-course-type">
                <img src="img/banking.png" alt="">
                <p class="text-center">BANKING</p>
            </div>
        </div>
        <!--<div class="inline-block digital-course-type"  ng-click="displayQuestionSection('equity')">
            <img src="img/equity.png" alt="">
            <p>EQUITY</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('mutualfund')">
            <img src="img/MF.png" alt="">
            <p>MUTUAL FUNDS</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('commodities')">
            <img src="img/commo.png" alt="">
            <p>COMMODITIES</p>
        </div>
        <div class="inline-block digital-course-type" ng-click="displayQuestionSection('insurance')">
            <img src="img/insurance.png" alt="">
            <p>INSURANCE</p>
        </div>-->
        <div class="digital-question-section" ng-if="banking">
               <div class="digitalinside-video">
                   <img src="https://i.ytimg.com/vi/X7ZkEQMhlek/hqdefault.jpg" class="img-responsive">
                                <div class="video-digital">
                                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/X7ZkEQMhlek" fancybox>
                                        <img src="img/youtube-icon.png" class="img-responsive">
                                    </a>
                                </div>
                </div>
            <div>
                 <h3 class="question-font radio-left"> Question :</h3>
            </div>
            <div class="question-digital" ng-repeat="digitalquestion in digitalinside">
                   
                    <p class="radio-left font25"> <span>{{digitalquestion.No}}.</span> {{digitalquestion.Question}}</p>
                    <div class="radio-left">
                        <input type="radio" id="1" name="ans"  ng-model="data.answer">
                        <p> {{digitalquestion.option1}}</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="2" name="ans"  ng-model="data.answer">
                        <p>{{digitalquestion.option2}}</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="3" name="ans" ng-model="data.answer">
                        <p>{{digitalquestion.option3}}</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="4" name="ans" ng-model="data.answer">
                        <p>{{digitalquestion.option4}}</p>
                    </div>
            </div>
                    <div class="submit-question">
                        <button type="submit" ng-click="thankyou(); " class="btn btn-default ">Submit</button>
                    </div>
        </div>
        
    </div>
</div>