<div class="minutestips-bg">
    <div class="container">
        <div class="digital-main">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="digital-course">
                        <div class="border-yellow">
                            <h1>DIGITAL COURSES</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero a sem consequat iaculis.
                                Aenean porttitor nibh lacus, sed efficitur quam dictum quis. Ut vitae lorem sed eros laoreet
                                consequat non eu sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et
                                libero a sem consequat iaculis. Aenean porttitor nibh lacus, sed efficitur quam dictum quis.
                                Ut vitae lorem sed eros laoreet consequat non eu sapien.consectetur adipiscing elit. Morbi
                                et libero a sem consequat iaculis. Aenean porttitor nibh lacus, sed efficitur quam dictum
                                quis. Ut vitae lorem sed eros laoreet consequat non eu sapien.</p>
                        </div>
                        <div class="bulb hidden-xs">
                            <img src="img/digital-icon.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="digital-login">
                        <h3 class="text-center">LOGIN</h3>
                        <div class="course-fb m-auto" ng-click="openFacebook();">
                            <img src="img/fblogin.png" class="img-responsive">
                        </div>
                        <div class="course-google m-auto" ng-click="openGoogle();">
                            <img src="img/login-google.png" class="img-responsive">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>