<div class="digitalinside-bg">
    <div class="container">
        <div class="text-uppercase digitalinside-main">
            <div class="inline-block computer-digital">
                <img src="img/computer-inside.png" alt="">
            </div>
            <div class="inline-block digital-heading">
                <h1>Digital Courses</h1>
            </div>
        </div>
        <div class="text-center digital-course-type-main">
            <div class="inline-block digital-course-type">
                <img src="img/equity.png" alt="">
                <p>EQUITY</p>
            </div>
            <div class="inline-block digital-course-type">
                <img src="img/MF.png" alt="">
                <p>MUTUAL FUNDS</p>
            </div>
            <div class="inline-block digital-course-type">
                <img src="img/commo.png" alt="">
                <p>COMMODITIES</p>
            </div>
            <div class="inline-block digital-course-type">
                <img src="img/insurance.png" alt="">
                <p>INSURANCE</p>
            </div>
            <div class="inline-block digital-course-type">
                <img src="img/banking.png" alt="">
                <p>BANKING</p>
            </div>
        </div>
    </div>
</div>