<!--<a class="btn btn-default" ng-click="buttonClick()">Demo Button</a>

    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>

    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>-->

<div class="education-background">
    <img src="/img/education-ppt-background.jpg" class="img-responsive">
</div>
<div class="container">
    <div class="three-icon">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <img src="img/bulb.png" class="img-responsive" ui-sref="minutestips">
                <h2 ui-sref="minutestips">#1MINUTESTIPS</h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                <img src="img/cources.png" class="img-responsive">
                <h2>DIGITAL COURSES</h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center"> <img src="img/comp.png" class="img-responsive">
                <h2>CONTESTS</h2>
            </div>
        </div>
    </div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0" id="gallery">GALLERY
    </h2>
</div>
<div class="gallery-bg">
    <div class="container">
        <div class="home-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({{s}})" ng-repeat="s in homeSlide track by $index"></div>
                </div>
                <div class="swiper-button-prev hidden-sm hidden-xs"></div>
                <div class="swiper-button-next hidden-sm hidden-xs"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="text-center">
                <button class="btn-view-more" ng-click="homeSlide.slideNext(2000)" ui-sref="gallery">VIEW MORE</button>
            </div>
        </div>

    </div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0">SOCIALHUB
    </h2>
</div>
<div class="container">
    <div class="socilahub">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="small-socialicon"><img src="img/facebook.png" class="img-responsive"></div>
                <div class="wdgett text-center">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPehla-Kadam-105170323406894%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="small-socialicon"><img src="img/twitter.png" class="img-responsive"></div>
                <!--<img src="img/twitter-timeline.jpg" class="img-responsive">-->
                <div class="wdgett text-center">
                    <a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <!--<a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/Pehlakadam3">Tweets by Pehlakadam3</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0" id="episode">EPISODES
    </h2>
</div>
<div class="episode-1">
    <div class="container">
        <div class="episode-section">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2 class="text-center latest-line">LATEST</h2>
                    <div class="episode-border latest-episode">
                        <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                            <img src="http://img.youtube.com/vi/FrReHEBFELc/maxresdefault.jpg" class="img-responsive">
                        </a>

                        <div class="video-icon">
                            <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                <img src="img/youtube-icon.png" class="img-responsive">
                            </a>
                        </div>

                    </div>
                    <h4 class="text-center latest-line-2">31st MAY 2017</h4>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2 class="text-center previous-line">PREVIOUS</h2>
                    <div class="episode-border">
                        <div class="inline-block small-episode">
                            <img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <div class="inline-block small-episode"><img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <div class="inline-block small-episode"><img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <div class="inline-block small-episode"><img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <div class="inline-block small-episode"><img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <div class="inline-block small-episode"><img src="http://img.youtube.com/vi/FrReHEBFELc/1.jpg" class="img-responsive">
                            <div class="video-icon">
                                <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                                    <img src="img/youtube-small.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="date-video text-center">
                                <p>22/12/2017</p>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive img-bottom"></div>
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive img-bottom"></div>
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive img-bottom"></div>
                        </div>-->
                        <!--<div class="row">
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive"></div>
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive"></div>
                            <div class="col-md-4"> <img src="img/1.JPG" class="img-responsive"></div>
                        </div>-->
                    </div>
                    <h4 class="text-center previous-line-2">VIEW MORE</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="episode-2">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="text-center text-uppercase">
                    <h1>200</h1>
                    <h2>cities</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="text-center text-uppercase">
                    <h1>75</h1>
                    <h2>episodes</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="text-center text-uppercase">
                    <h1>1 M+</h1>
                    <h2>viewers</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="text-center text-uppercase">
                    <h1>1000</h1>
                    <h2>questions answered</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0">OUR ANCHORS
    </h2>
</div>
<div class="anchors-section">
    <div class="container-fluid">
        <div class="inline-block text-center anchors-padding">
            <div class="anchors-img alok-img anchors-hover" ng-click="alokopen();">
            </div>
            <p>Alok Joshi</p>
        </div>
        <div class="inline-block text-center anchors-padding">
            <div class="anchors-img anil-img anchors-hover" ng-click="anilopen();">
            </div>
            <p>Anil Singhavi</p>
        </div>
        <div class="inline-block text-center anchors-padding">
            <div class="anchors-img harshada-img anchors-hover" ng-click="harshadaopen();">
            </div>
            <p>Harshada Savant</p>
        </div>
        <div class="inline-block text-center anchors-padding kavita-tab">
            <div class="anchors-img kavita-img anchors-hover" ng-click="kavitaopen();">
            </div>
            <p>Kavita Thapliyal</p>
        </div>
        <div class="inline-block text-center anchors-padding">
            <div class="anchors-img neha-img anchors-hover" ng-click="nehaopen();">
            </div>
            <p>Neha Anand</p>
        </div>
    </div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0">LATEST BUZZ
    </h2>
</div>
<div class="latest-buzz-bg">
    <div class="latest-buzz-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4    background: rgba(0, 0, 0, 0.59) col-xs-4">
                    <div class="inline-block latest-buzz-img">
                        <img class="img-responsive" src="img/cnbc-tv.jpeg">
                    </div>
                    <div class="inline-block  latest-buzz-detail">
                        <a href="http://www.moneycontrol.com/news/business/markets-business/fii-betting-on-leverage-play-top-10-stocks-which-have-given-up-to-120-return-in-last-1-year-2288189.html"
                            target="blank">FIIs betting on leverage play! 10 stocks that have returned up to 120% in past year</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="inline-block latest-buzz-img">
                        <img class="img-responsive" src="img/cnbc-tv.jpeg">
                    </div>
                    <div class="inline-block  latest-buzz-detail">
                        <a href="http://www.moneycontrol.com/news/business/stocks-business/why-this-smallcap-is-a-rare-combination-of-quality-consistency-and-value-2288317.html"
                            target="blank">Why this smallcap is a rare combination of quality, consistency and value</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="inline-block latest-buzz-img">
                        <img class="img-responsive" src="img/cnbc-tv.jpeg">
                    </div>
                    <div class="inline-block  latest-buzz-detail">
                        <a href="http://www.moneycontrol.com/news/business/markets-business/when-rakesh-jhunjhunwala-grilled-lupin-top-brass-after-muted-q4-results-2288585.html"
                            target="blank">When Rakesh Jhunjhunwala grilled Lupin top brass after muted Q4 results</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="yellow-slide text-center">
    <h2 class="m0">OUR PARTNER
    </h2>
</div>
<div class="container">
    <div class="sponsor-icon">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-6">
                <img src="img/logo9.png" class="img-responsive pull-right">
            </div>
            <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-6">
                <img src="img/logo2.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>