<div class="minutestips-bg">
    <div class="container">
        <div class="minute-main">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="minute-first">
                        <div class="border-yellow">
                            <h1>#1MINUTESTIPS</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero a sem consequat iaculis.
                                Aenean porttitor nibh lacus, sed efficitur quam dictum quis. Ut vitae lorem sed eros laoreet
                                consequat non eu sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et
                                libero a sem consequat iaculis. Aenean porttitor nibh lacus, sed efficitur quam dictum quis.
                                Ut vitae lorem sed eros laoreet consequat non eu sapien.</p>
                        </div>
                        <div class="bulb hidden-xs">
                            <img src="img/minutebulb.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="minute-query">
                        <h3 class="text-center">HAVE A QUERY ?</h3>
                        <div class="expert-img">
                            <img src="img/expert.png" class="img-responsive">
                        </div>
                        <div class="name-plate">MR.ANIL SINGHVI</div>
                        <div class="ask-expert text-center" ng-click="askexpertopen();">
                            <a href="">ASK THE EXPERT</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="minutestips-video-section">
        <div class="container">
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="inline-block minute-video"><img src="img/2.JPG" class="img-responsive img-border">
                <div class="video-icon">
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/nTjYfTrEYR0?autoplay=1" fancybox="">
                        <img src="img/youtube-small.png" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>