<div class="minutestips-bg min-hght">
    <div class="container">
        <div class="minute-main">
            <div class="text-uppercase">
                <div class="inline-block computer-digital hidden-xs">
                    <img src="img/minutebulb.png" alt="">
                </div>
                <div class="inline-block minutetips-heading">
                    <h1>#1MINUTETIPS</h1>
                </div>
            </div>
            <div class="minute-first">
                <p>CNBC launches a special format for quick financial education by means of #1MinuteTips Experts at CNBC-TV18 will
                    give financial solutions in just 60 seconds Topics across asset classes will be a part of this format
                    and will include topics such as insurance, gold, security, mutual funds, personal finance, commodities,
                    other investments etc.</p>
            </div>
            <!--<div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="minute-first">
                        <div class="border-yellow">
                            <h1>#1MINUTETIPS</h1>
                            <p>CNBC launches a special format for quick financial education by means of #1MinTips Experts at
                                CNBC-TV18 will give financial solutions in just 60 seconds Topics across asset classes will
                                be a part of this format and will include topics such as insurance, gold, security, mutual
                                funds, personal finance, commodities, other investments etc.</p>
                        </div>
                        <div class="bulb hidden-xs">
                            <img src="img/minutebulb.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="minute-query">
                        <h3 class="text-center">HAVE A QUERY ?</h3>
                        <div class="expert-img">
                            <img src="img/expert.jpg" class="img-responsive">
                        </div>
                        <div class="name-plate">MR.ANIL SINGHVI</div>
                        <div class="ask-expert text-center">
                            <button class="btn" ng-click="askexpertopen();">ASK THE EXPERT</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="minutestips-video-section">
        <div class="container">
            <div class="comming-soon text-center">
                <h2>Coming Soon</h2>
            </div>
        </div>
    </div>
</div>