<div class="question-page-bg">
    <div class="container">
        <div class="text-center">
            <div class="question-section">
                <div>

                    <p>Question : {{contestQuestion.question}} ?</p>
                    <input type="hidden" name="questionId" ng-model="data1.questionId" value="{{contestQuestion._id}}">
                    <input type="hidden" name="question" ng-model="data1.question" value="{{contestQuestion.question}}">
                    <div class="radio-left" ng-repeat="option in contestQuestion.createOptions">
                        <input type="radio" id="{{option._id}}" name="ans" value="{{option.option}}" ng-model="data1.answer">
                        <p>{{option.option}}</p>
                    </div>
                    <!--<p> <span> Question :</span>क्लोज एंडेड फंड में<span style="font-family:NimbusSanL-Reg"> ?</span> </p>

                    <div class="radio-left">
                        <input type="radio" id="1" name="ans" value="  क्लोज एंडेड फंड की स्टॉक एक्सचेंज पर लिस्टिंग होती है" ng-model="data.answer">
                        <p> क्लोज एंडेड फंड की स्टॉक एक्सचेंज पर लिस्टिंग होती है</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="2" name="ans" value="फंड में एंट्री और उससे बाहर निकलने की अवधि फंड हाउस तय करता है" ng-model="data.answer">
                        <p>फंड में एंट्री और उससे बाहर निकलने की अवधि फंड हाउस तय करता है</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="3" name="ans" value=" फंड में निवेशक कभी भी निवेश कर सकता है लेकिन निवेश से निकलने का वक्त फंड हाउस तय करता है"
                            ng-model="data.answer">
                        <p> फंड में निवेशक कभी भी निवेश कर सकता है लेकिन निवेश से निकलने का वक्त फंड हाउस तय करता है </p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="4" name="ans" value="फंड में एंट्री और उससे बाहर निकलने की अवधि फंड हाउस तय करता है, क्लोज एंडेड फंड की स्टॉक एक्सचेंज पर लिस्टिंग होती है"
                            ng-model="data.answer">
                        <p>फंड में एंट्री और उससे बाहर निकलने की अवधि फंड हाउस तय करता है, क्लोज एंडेड फंड की स्टॉक एक्सचेंज
                            पर लिस्टिंग होती है</p>
                    </div>-->
                    <div class="submit-question">
                        <button type="submit" ng-click="thanksopen(data1);" class="btn btn-default ">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>