<div class="question-page-bg">
    <div class="container">
        <div class="text-center">
            <div class="question-section">
                <div>

                    <p> <span> Question :</span>हेल्थ इंश्योरेंस कहलाता है<span style="font-family:NimbusSanL-Reg"> -</span>                        </p>

                    <div class="radio-left">
                        <input type="radio" id="1" name="ans" value="लाइफ और जनरल इंश्योरेंस दोनों " ng-model="data.answer">
                        <p>लाइफ और जनरल इंश्योरेंस दोनों</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="2" name="ans" value="जनरल इंश्योरेंस" ng-model="data.answer">
                        <p>जनरल इंश्योरेंस</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="3" name="ans" value="लाइफ और जनरल इंश्योरेंस दोनों" ng-model="data.answer">
                        <p>लाइफ और जनरल इंश्योरेंस दोनों</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="4" name="ans" value="इनमें से कोई नहीं" ng-model="data.answer">
                        <p>इनमें से कोई नहीं</p>
                    </div>
                    <div class="submit-question">
                        <button type="submit" ng-click="thanksopen(data); " class="btn btn-default ">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>