<div class="question-page-bg">
    <div class="container">
        <div class="text-center">
            <div class="question-section">
                <div>

                    <p> <span> Question :</span> सबसे ज्यादा ब्याज किस कार्ड पर लगता है ?</p>

                    <div class="radio-left">
                        <input type="radio" id="1" name="ans" value="डेबिट कार्ड" ng-model="data.answer">
                        <p>डेबिट कार्ड</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="2" name="ans" value="वर्चुअल कार्डए" ng-model="data.answer">
                        <p>वर्चुअल कार्डए</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="3" name="ans" value="क्रेडिट कार्ड" ng-model="data.answer">
                        <p>क्रेडिट कार्ड</p>
                    </div>
                    <div class="radio-left">
                        <input type="radio" id="4" name="ans" value="मल्टी करेंसी कार्ड" ng-model="data.answer">
                        <p>मल्टी करेंसी कार्ड</p>
                    </div>
                    <div class="submit-question">
                        <button type="submit" ng-click="thanksopen(data); " class="btn btn-default ">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>