<div class="about-modal-bg">
    <div class="container-fluid">
        <div class="about-modal-heading">
            <div class="row ">
                <div class="col-md-4 col-md-offset-2">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
        <p>CNBC AWAAZ, India’s No.1 Hindi Business News Channel has created an impact on policy and decision makers as well
            as consumers by undertaking multiple initiatives to empower millions, and help them make intelligent and informed
            financial decisions. ‘Pehla Kadam’ by CNBC AWAAZ is the most remarkable initiative the brand has conceptualized
            towards comprehensive financial education all across India. </p>
        <p>Pehla Kadam reaches out to various parts of India, be remote or urban, with strategic platforms designed to attract
            people irrespective of their demographics. From on-air classrooms to on ground events, this initiative aims to
            educate everyone. </p>
        <p>Various programs are incorporated to ensure inclusive financial growth in all quadrants of the society, from seasoned
            corporates to first time investors, everyone has something to learn from Pehla Kadam. One of the most integral
            part of Pehla Kadam, ‘Rural Financial Literacy Program’ aims to impart knowledge to the rural population, for
            them to ideally spend their finances via an optimum resource.</p>
        <p>A platform is given to each and every investor by Pehla Kadam to gain sufficient knowledge so that each investor
            can sow to reap the maximum benefits and live their desired lifestyle.</p>
        <p>With all this and more, Pehla Kadam kicks off this year, with a bigger goal in mind, of reaching out to the untapped
            cities and towns and passing on financial tutelage, towards an investing India.</p>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>