<div class="modal-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="modal-pt">
                    <div class="anchors-img alok-img">
                    </div>
                    <ul class="list-unstyled">
                        <li>Alok Joshi</li>
                        <li>Managing editor</li>
                        <li>CNBC-AWAAZ</li>
                        <li>and CNBC BAJAR</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <p class="text-justify">Managing Editor of India’s number one business channel CNBC-Awaaz and India’s first Gujarati business channel
                    CNBC-BAJAR, Alok is a journalist with an experience of around thirty years across print, television,
                    radio and internet. Starting with Amrit Prabhat (Hindi daily of Amrit Bajar Patrika group), he worked
                    with Navbharat Times and Dainik Jagran before joining the founding team of Aajtak in 1995. Staying with
                    TV today network for almost six years, he was a part of the team that launched Aajtak (24 hour) news
                    channel. While in Aajtak he produced and anchored shows like Business Aajtak and Subah Aajtak besides
                    reporting extensively on business and politics. He worked with the BBC World service and worked on the
                    launch of it’s website BBChindi.com. He was one of the main presenters of BBC Hindi’s flagship bulletin
                    ‘aajkal’ when he decided to move back to India and join Network 18 to work on the launch of the hindi
                    business channel that was to become CNBC-Awaaz. Before becoming Managing Editor, He was responsible for
                    the market coverage and newsgathering operations of CNBC-Awaaz and overseeing the operations of Gujarati
                    channel CNBC-BAJAR. He is one of the key founders of CNBC-Awaaz. Known for his sharp newssense, flare
                    for writing and grasp on issues ranging from business and politics to art and literature. He is an avid
                    reader and enjoys explaining complex issues in a lucid manner. He shares a strong bond and cordial relation
                    within and outside the team due to his outreaching behavior and excellent people management skills.</p>
            </div>
        </div>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>