<div class="modal-bg">
    <div class="container-fluid">
        <div class="">
            <div class="anchors-img anil-img m-auto">
            </div>
        </div>

        <p class="text-justify">Anil Singhvi is the Market Editor at CNBC Awaaz. He has been with the Channel since 2005. Anil Singhvi anchors Market
            Shows that’re most trusted by viewers and investors. These include Market Countdown, Pehla Sauda, Futures Express,
            Awaaz Nivesh Paatshaala etc. Investor Education is his passion. Through his Superhit Market Show, ‘Pehla Kadam’,
            Anil Singhvi is empowering Investors by explaining the nitty gritty of investing in a straightforward and easy-to-understand
            manner. Anil Singhvi’s forte lies in decoding daily market trends and stock movements for Traders and Investors.
            Today, crores of investors are benefiting from Anil Singhvi’s knowledge and 25 years of experience in covering
            the markets.</p>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>