<div class="minutestips-bg">
    <div class="container-fluid">
        <div class="minute-query">
            <h3 class="text-center">HAVE A QUERY ?</h3>
            <div class="expert-img">
                <img src="img/expert.jpg" class="img-responsive">
            </div>
            <div class="name-plate">MR.ANIL SINGHVI</div>
            <div class="ask-expert text-center">
                <button class="btn" ng-click="askexpertopen();">ASK THE EXPERT</button>
            </div>
        </div>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>

</div>