<div class="ask-expert-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <img src="img/expert-bulb.png" class="img-responsive">
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="email">Full Name :</label>
                        <input type="text" class="form-control" id="email" placeholder="" name="full name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email : </label>
                        <input type="email" class="form-control input-width" id="email" placeholder="" name="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label pull-left col-sm-12 question-left" for="email">Question :</label>
                        <div class="col-sm-12">
                            <textarea class="form-control textarea-bg " rows="7" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">SUBMIT</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="note">
            <p>Send Your Query Through SMS By Typing PK03
                <span><</span>Your Question<span>></span> And Send It To 51818 <span class="span-font">(SMS rates as applicable)</span></p>
        </div>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>