<div class="contact-modal-bg">
    <div class="container-fluid">
        <div class="contact">
            <div class="location ">
                <img src="img/map-location.png" class="img-responsive m-auto">
            </div>
            <address class="contact-address">
                CNBC TV18
                <br> EMPIRE COMPLEX
                <br> 1st FLOOR, 414 SENAPATI BAPAT MARG
                <br> NEAR KAMALA MILLS, MUMBAI
                <br> MAHARASHTRA 400013
            </address>
            <div class="letter-box">
                <img src="img/letter.png" class="img-responsive m-auto">
            </div>
           <div class="contact-letter text-center"><a href="mailto:pehlakadam@nw18.com">pehlakadam@nw18.com</a></div> 
            <div class="close-modal" ng-click="$dismiss()">
                <i class=" fa fa-times-circle " aria-hidden="true "></i>
            </div>
        </div>

    </div>
</div>