<div class="contest-modal-bg">
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i>
    </div>
    <div class="container-fluid">
        <div class="contest-modal-heading">
            <div class="row ">
                <div class="col-md-12">
                    <h1>Be the GURU of the Month!</h1>
                </div>
            </div>
        </div>
        <div class="contest-modal-content">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="contest-modal-img">
                        <img src="img/gurulogo.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="list-content-order">
                        <ul class="list-unstyled">
                            <li>1. Watch all the episodes during the month.</li>
                            <li>2. Answer the questions correctly.</li>
                            <li>3. Winner of all the correct answers stands a chance to be part of the show, get your name announced on CNBC Awaaz and win exciting goodies.</li>
                        </ul>
                    </div>
                    <div class="button-enter" ng-click="questionopen();">
                        <a href="">Enter</a>
                        <!--<button class="custom-btn">Enter</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>