<div class="contest-modal-bg">
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i>
    </div>
    <div class="container-fluid">
        <div class="contest-modal-heading">
            <div class="row ">
                <div class="col-md-4 col-md-offset-2">
                    <h2>BE the guru of the Month!</h2>
                </div>
            </div>
        </div>
        <div class="contest-modal-content">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="contest-modal-img">
                        <img src="img/" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="list-content-order">
                        <ul class="list-unstyled">
                            <li>Watch all the episodes during the month.</li>
                            <li>Answer questions related to each episode asked on social media</li>
                            <li>Stand a chance to be part of the show, get your name announced on CNBC Awaaz and goodies.</li>
                        </ul>
                    </div>
                    <div class="button-enter">
                        <button class="custom-btn">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>