<div class="minutestips-bg">
    <div class="container-fluid">
        <div class="digital-main">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="digital-course">
                        <div class="border-yellow">
                            <h1>DIGITAL COURSES</h1>
                            <p>Financial Education now at your fingertips. Stay tuned to our episode and take our 5 simple digital
                                courses here. Stand a chance to win an exciting bumper prize.</p>
                        </div>
                        <div class="computer hidden-xs">
                            <img src="img/digital-icon.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="digital-login">
                        <h3 class="text-center">LOGIN</h3>
                        <div class="login-digital">
                            <form name="login-digital-form">
                                <div class="form-group" ng-class="{'form-invalid': login-digital-form.name.$invalid && login-digital-form.name.$touched}">
                                    <label>Full Name:</label>
                                    <input type="text" ng-maxlength='35' name="name" placeholder="Enter Full Name" ng-model="formData.name" ng-pattern="template.onlyAplha"
                                        replace="[^a-zA-Z_-]" with="" class="form-control" required>
                                    <div class="error-msg" ng-show="login-digital-form.name.$touched && login-digital-form.name.$invalid"> Invalid Full Name </div>
                                </div>
                                <div class="form-group" ng-class="{'form-invalid': login-digital-form.email.$invalid && login-digital-form.email.$touched}">
                                    <label>Email Address:</label>
                                    <input type="email" ng-maxlength='255' name="email" placeholder="Enter Email" ng-model="formData.email" ng-pattern="template.validEmail"
                                        class="form-control" required>
                                    <div class="error-msg" ng-show="login-digital-form.email.$touched && login-digital-form.email.$invalid"> Invalid EMAIL ID</div>
                                </div>
                                <div class="digital-submit">
                                    <button type="submit" class="btn btn-default" ui-sref="digitalinside">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>