<div class="modal-bg">
    <div class="container-fluid">
        <div class="">
            <div class="anchors-img harshada-img m-auto">
            </div>
        </div>

        <p class="text-justify">Harshada Sawant is an Associate Editor with CNBC Awaaz. With over 15 years of experience in covering Corporate India,
            Stock Markets and Policies, Harshada Sawant is an Accomplished Journalist. She started her career with the Today
            TV network and joined Network18 in 2004. She’s one of the founding members of CNBC Awaaz. </p>
        <p class="text-justify">Harshada Sawant keeps a close watch on Daily Stock Movements, Market Trends and stories of Indian Entrepreneurs.
            From Bangalore, India’s Startup Capital to USA’s Silicon Valley, Harshada has reported and interviewed some of
            the biggest names in the Start-Up Ecosystem. She has undertaken a nationwide road trip covering 5 states to showcase
            India’s Most Promising Innovators. Harshada Sawant anchors daily & weekly shows such as Midcap Mantra, Traders
            Hotline, Akhri Sauda and Awaaz Entrepreneur. </p>
    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>