<div class="modal-bg">
    <div class="container-fluid">
        <div class="">
            <div class="anchors-img kavita-img m-auto">
            </div>
        </div>

        <p class="text-justify">Kavita Thapliyal joined CNBC-AWAAZ as a news trainee in 2005. She started her innings as a Smart Shopper, for Smart
            Shopping – the flagship Brand, Fashion Lifestyle show for CNBC-AWAAZ. From Lakme Fashion Week to the start of
            the mall culture in our country, from travel, food, tech, retail to consumer stories, her forte has comprised
            of all the above. It was a natural transition for her to get into the personal finance space where she now helps
            people plan their money better in her show ‘Your Money’. </p>

    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>