<div class="modal-bg">
    <div class="container-fluid">
        <div class="">
            <div class="anchors-img neha-img m-auto">
            </div>
        </div>

        <p class="text-justify">A Business Journalist with an association of nearly a decade with, CNBC Awaaz, India’s leading Business News Channel.
            Commodity Markets has been the core coverage beat, with a track record of unearthing several scams related to
            Price rigging in various agri commodities. Manipulations in Turmeric, chana and Guar trades to name a few. Anchor
            to popular shows- Market Top 20 and Commodity Call. </p>

    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>
</div>