<div class="modal-bg">
    <div class="container-fluid">
        <div class="">
            <div class="anchors-img pradeep-img m-auto">
            </div>
        </div>

        <p class="text-justify">Pradeep Pandya, an anchor made from equity analyst, is reaching out to millions of investors in his language. Explaining
            any complex issue with ease, Pradeep connects with a common audience. Pradeep's reputation is to understand the
            nuances of business and economic topics, to present it to the people in easy language, who have trouble understanding
            the news papers of business newspapers. Lana Pradeep differently recognizes the work between the buffer of information
            in the stock market. Apart from the market show, Pradip boasts a special show on business and economic topics.
        </p>

    </div>
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i></div>
</div>
</div>