/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@font-face {
    font-family: 'NimbusSanL-Reg';
    src: url("../fonts/nimbussanl-reg-5954a68236d64.otf");
}

@font-face {
    font-family: 'Kruti-Dev';
    src: url("../fonts/Kruti_Dev_010.ttf");
}

@font-face {
    font-family: 'kg-second-chances';
    src: url("../fonts/kg-second-chances.ketch.ttf");
}

@font-face {
    font-family: 'NimbusSanL-Bold';
    src: url("../fonts/NimbusSanL-Bol.otf");
}

@font-face {
    font-family: 'KrutiDev';
    src: url("../fonts/KrutiDev.ttf");
}

@font-face {
    font-family: 'Eraser';
    src: url("../fonts/Eraser.ttf");
}

//mixin flash position
@mixin animationflash ($top,
$left,
$right,
$bottom,
$chalk-color) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    @include transform (scale(0));
    color: $chalk-color;
} //End mixin flash position
@import "other/font-fix";
body {
    padding-top: 0px;
    font-family: NimbusSanL-Reg;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
button,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
    &:focus {
        outline: none;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: calc(100vh - 96px);
}

.img-full {
    width: 100%;
    display: block;
}

.img-height {
    height: 95px;
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

//common classes
.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.m-auto {
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

//end of common classes
//start of scss for header
header {
    font-family: NimbusSanL-Reg;
    transition: all 300ms ease;
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
        background-color: transparent;
        &:hover,
        &:focus {
            color: #d4aa00 !important;
            background-color: transparent;
        }
    }
    .main-menu {
        position: relative;
    }
    .dropdown-menu {
        padding: 0;
        border: 1px solid transparent;
        right: 0;
        min-width: 200px;
        &.contact-modal-bg {
            padding: 20px 5px;
        }
    }
    .navbar-default {
        background: transparent;
        border-color: transparent;
        .navbar-brand {
            padding: 0;
            display: block;
            height: 0;
            float: none;
            img {
                padding-left: 20px;
                padding-top: 10px;
            }
        }
    }
    .navbar {
        margin-bottom: 0px;
    }
    .navbar-nav>li>a {
        padding: 13px 20px;
    }
    .nav-up {
        @include transform(translateY(-100%));
    }
    .header-border {
        border: 1px solid white;
        width: 78%;
        margin-left: 21%;
        margin-right: auto;
    }
    .header-socialmedia {
        a {
            padding: 10px 20px !important;
            .social-icon {
                font-size: 25px;
            }
        }
    } //     .navbar-one{
    //  text-align: center;
    //  float: none;
    //  li{
    //      float: none;
    //      display: inline-block;
    //  }
    //         }
}

//end of scss for header
//scss for footer
footer {
    font-size: 13px;
    background-color: #d4aa00;
    padding: 0px;
    font-family: NimbusSanL-Reg;
    color: #000;
    a {
        color: #000 !important;
    }
    .border-white {
        border-bottom: 5px solid #fff;
    }
    .footer-bottom,
    {
        margin: 15px 45px 0px;
    }
    .design-by {
        margin-top: 15px;
    }
    .footer-list-padd {
        margin-bottom: 0px;
        list-style-type: none;
        padding: 15px 0;
    }
    li {
        position: relative;
        display: inline;
        padding: 0 25px;
        &:before {
            content: '';
            position: absolute;
            width: auto;
            border-right: 2px solid black;
            height: 18px;
            right: 0px;
        }
    }
    li:last-child {
        &:before {
            content: '';
            position: absolute;
            width: auto;
            border-right: 2px solid transparent !important;
            height: 18px;
            right: 0px;
        }
    }
}

//end of scss for footer
//scss for modal
.modal {
    text-align: center;
    padding: 0px;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.modal-bg {
    background-image: url("../img/modal-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 15px 180px 25px;
    position: relative;
    p {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        font-family: NimbusSanL-Reg;
    }
    ul {
        padding: 5px 0;
    }
    li {
        font-size: 17px;
        line-height: 2;
        color: #fff;
        font-family: NimbusSanL-Bold;
    }
}

.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal-pt {
    padding-top: 70px;
}

.close-modal {
    position: absolute;
    top: 6px;
    right: 11px;
    cursor: pointer;
    .fa {
        font-size: 20px;
        color: #ccc;
    }
}

//scss for home
.education-background {
    // background-image: url("../img/education-ppt-background.jpg");
    //background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .education-img-size {
        width: 100%;
        height: 67vh;
    }
    .eraser {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 9;
        img {
            width: 120px;
        }
    }
    .new-flash-animation {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        color: #fff;
        font-size: 25px;
        font-family: Eraser;
        font-weight: 700;
        text-transform: uppercase;
        img {
            height: 50px;
        }
        .text-flash1 {
            @include animationflash (43%,
            5%,
            null,
            null,
            #ed7777);
        }
        .text-flash2 {
            @include animationflash (18%,
            null,
            13%,
            null,
            #94c0cc);
        }
        .text-flash3 {
            @include animationflash (null,
            null,
            21%,
            24%,
            #f6f4f1);
        }
        .text-flash4 {
            @include animationflash (38%,
            30%,
            null,
            null,
            #94c0cc);
        }
        .text-flash5 {
            @include animationflash (36%,
            50%,
            null,
            null,
            #f5f9ad);
        }
        .text-flash6 {
            @include animationflash (16%,
            25%,
            null,
            null,
            #94c0cc);
        }
        .text-flash7 {
            @include animationflash (61%,
            33%,
            null,
            null,
            #f5f9ad);
        }
        .text-flash8 {
            @include animationflash (null,
            8%,
            null,
            31%,
            #94c0cc);
        }
        .text-flash9 {
            @include animationflash (null,
            38%,
            null,
            44%,
            #ed7777);
        }
        .text-flash10 {
            @include animationflash (null,
            30%,
            null,
            13%,
            #ed7777);
        } // .text-flash11 {
        //     @include animationflash (34%,5%,null,null,#f5f9ad);
        // }
        .text-flash12 {
            @include animationflash (null,
            59%,
            null,
            43%,
            #f6f4f1);
        } // .text-flash13 {
        //     @include animationflash (41%,5%,null,null,#ed7777);
        // }
        .text-flash14 {
            @include animationflash (null,
            null,
            71%,
            44%,
            #f6f4f1);
        }
        .text-flash15 {
            @include animationflash (null,
            null,
            18%,
            40%,
            #f5f9ad);
        }
        .text-flash16 {
            @include animationflash (21%,
            null,
            39%,
            null,
            #ed7777);
        }
        .text-flash17 {
            @include animationflash (null,
            5%,
            null,
            18%,
            #f6f4f1);
        }
        .text-flash18 {
            @include animationflash (null,
            47%,
            null,
            15%,
            #f5f9ad);
        }
        .text-flash18 {
            @include animationflash (null,
            47%,
            null,
            15%,
            #f5f9ad);
        }
        .text-flash19 {
            @include animationflash (24%,
            25%,
            null,
            null,
            #f5f9ad);
        }
        .text-flash20 {
            @include animationflash (null,
            44%,
            null,
            31%,
            #f5f9ad);
        }
        .text-flash21 {
            @include animationflash (null,
            21%,
            null,
            20%,
            #f5f9ad);
        }
        .text-flash22 {
            @include animationflash (32%,
            null,
            17%,
            null,
            #f5f9ad);
        }
        .text-flash23 {
            @include animationflash (48%,
            16%,
            null,
            null,
            #f5f9ad);
        }
        .text-flash24 {
            @include animationflash (null,
            null,
            20%,
            11%,
            #f5f9ad);
        }
    }
}

.latest-buzz-img {
    width: 280px;
    margin: 0 auto;
}

.gallery-bg {
    background-image: url("../img/green_chalkboard_wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow-slide {
    background-color: #d4aa00;
    h2 {
        padding: 20px 0 12px;
        color: #fff;
        letter-spacing: 13px;
        font-size: 38px;
    }
}

.imgsize-270 {
    max-height: 270px;
}

.small-episode {
    width: 167px;
    overflow: hidden;
    height: auto;
    padding: 10px 5px 10px;
    img {
        width: 100%;
    }
}

.anchors-img {
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    border-radius: 50%;
    height: 140px;
    transition: all ease 300ms;
}

.anchor-pointer {
    cursor: pointer;
}

.anchors-hover:hover {
    @include transform (scale(1.1));
}

.alok-img {
    background-image: url("../img/Alok-Joshi.jpg");
}

.anil-img {
    background-image: url("../img/Anil-Singhvi.jpg");
}

.harshada-img {
    background-image: url("../img/Harshada-Sawant.jpg");
}

.kavita-img {
    background-image: url("../img/Kavita-Thapliyal.jpg");
}

.neha-img {
    background-image: url("../img/Neha-Anand.jpg");
}

.pradeep-img {
    background-image: url("../img/Pradeep-Pandya.jpg");
}

.anchors-section {
    background-image: url("../img/green_chalkboard_wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 30px;
    p {
        padding: 15px 0 0;
        color: #fff;
        font-size: 24px;
    }
}

.anchors-padding {
    padding: 20px 28px;
}

.latest-buzz-bg {
    background-image: url("../img/cnbc-tv.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
}

.latest-buzz-content {
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.5);
    text-align: justify;
    a {
        font-size: 25px;
        color: white;
    }
}

.three-icon {
    padding: 20px 0 15px;
    cursor: pointer;
    h2 {
        font-family: NimbusSanL-Bold;
        color: #000;
        margin: 10px 0 0 0;
    }
    img {
        margin: 0 auto;
        transition: all 1s ease-in-out;
        perspective: 500px;
        perspective-origin: 50% 100px;
        cursor: pointer;
        &:hover {
            transform: rotateY(180deg);
        }
    }
}

.socilahub {
    padding-bottom: 30px;
    img {
        margin: 0 auto;
    }
    .small-socialicon {
        padding: 20px 0;
    }
}

.episode-1 {
    background-image: url("../img/1.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.episode-2 {
    padding: 30px 0;
    h1 {
        font-size: 60px;
        color: black;
    }
    h2 {
        font-size: 32px;
        color: black;
    }
}

.sponsor-icon {
    padding: 55px 0 25px;
    img {
        margin: 0 auto;
    }
    p {
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 1px;
        color: black;
    }
}

.episode-border {
    padding: 30px 20px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    height: 328px;
    text-align: center;
    overflow: hidden;
}

.episode-section {
    padding: 90px 0;
}

.latest-line {
    margin: 0px 0 -22px;
    position: relative;
    color: #000;
    &:before {
        content: '';
        width: 35%;
        height: 20px;
        position: absolute;
        bottom: 19px;
        left: 0px;
        border-bottom: 3px solid #000;
    }
    &:after {
        content: '';
        width: 35%;
        height: 20px;
        position: absolute;
        bottom: 19px;
        right: 0px;
        border-bottom: 3px solid #000;
    }
}

.latest-line-2,
.previous-line-2 {
    margin: -5px 0 0px;
    position: relative;
    color: #000;
    &:before {
        content: '';
        width: 35%;
        position: absolute;
        bottom: 14px;
        left: 0px;
        border-bottom: 3px solid #000;
    }
    &:after {
        content: '';
        width: 35%;
        position: absolute;
        bottom: 14px;
        right: 0px;
        border-bottom: 3px solid #000;
    }
}

.previous-line {
    margin: 0px 0 -22px;
    position: relative;
    color: #000;
    &:before {
        content: '';
        width: 32%;
        position: absolute;
        bottom: 19px;
        left: 0px;
        border-bottom: 3px solid #000;
    }
    &:after {
        content: '';
        width: 32%;
        position: absolute;
        bottom: 19px;
        right: 0px;
        border-bottom: 3px solid #000;
    }
}

.know-button {
    text-align: center;
    button {
        font-size: 15px;
        color: black;
        background: #d4aa00;
        border: none;
        padding: 8px 20px 4px;
        margin-bottom: 55px;
        &:focus,
        &:active {
            outline: none;
        }
    }
}

.home-slider {
    padding: 55px 0 70px;
}

.btn-view-more {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
}

.small-episode {
    position: relative;
}

.latest-episode {
    border-bottom: 3px solid black;
    .latest-commingsoon {
        padding: 100px 0;
        background: rgba(70, 70, 70, 0.56);
        h1 {
            color: black;
        }
    }
}

.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,
    -50%));
}

.date-video {
    position: absolute;
    bottom: -18px;
    left: 50%;
    @include transform(translate(-50%,
    -50%));
    color: white;
    font-size: 18px;
}

// .latest-buzz-img {
//     // width: 90px;
//     vertical-align: middle;
//     img {
//         width: 100%;
//     }
// }
// .latest-buzz-detail {
//     width: 250px;
//     vertical-align: middle;
// }
//scss for minutestips
.gallery-inside-bg,
.minutestips-bg,
.partners-bg {
    background-image: url("../img/green_chalkboard_wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.min-hght {
    min-height: calc(100vh - 96px);
}

.minute-video {
    width: 282px;
    overflow: hidden;
    height: auto;
    padding: 5px 3px 0px;
    position: relative;
    .img-border {
        border: 3px solid white;
    }
}

.minutestips-video-section {
    background: rgba(0, 0, 0, 0.58);
    padding: 60px 0; // position: absolute;
    width: 100%; // bottom: 96px;
    // left: 0;
}

.expert-img {
    margin-bottom: -10px;
    img {
        margin: 0 auto;
        border: 3px solid white;
    }
}

.minute-main,
.partners-main {
    margin: 200px 0 100px 60px;
    .minutetips-heading,
    .partnerstips-heading {
        position: relative;
        margin-left: 30px;
        padding: 0px 0px 0px 20px;
        border-left: 5px solid white;
        h1 {
            font-size: 30px;
            font-family: NimbusSanL-Reg;
            color: #fef424;
            letter-spacing: 3px;
        }
        &:before {
            content: '';
            border-bottom: 5px solid white;
            width: 946px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:after {
            content: '';
            position: absolute;
            border-bottom: 5px solid white;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
}

.minute-first {
    margin-left: 130px;
    padding: 0px 25px 10px 0px;
    border-bottom: 5px solid #fff;
    position: relative;
    text-align: justify;
    p {
        color: white;
        font-size: 15px;
        word-spacing: 5px;
        line-height: 2;
    }
    &:before {
        content: '';
        position: absolute;
        border-right: 5px solid #fff;
        height: 136px;
        right: 0;
        bottom: 0;
    }
}

// .bulb {
//     position: absolute;
//     top: 42%;
//     left: -75px;
// }
.minute-query {
    position: relative;
    padding: 30px 0;
    h3,
    a {
        font-size: 28px;
        color: #e9e72b;
    }
}

.name-plate {
    background: #ffcc00;
    width: 46%;
    padding: 20px 0 10px;
    text-align: center;
    font-size: 20px;
    margin-left: 27%;
}

.ask-expert {
    margin-top: 20px;
    button {
        background: #ffcc00;
        color: black;
        width: 225px;
        font-size: 20px;
        padding: 8px 10px;
        @include transition (all ease 300ms);
        &:hover {
            @include transform (scale(1.1));
        }
    }
}

.note {
    p {
        font-size: 16px;
    }
    .span-font {
        font-size: 12px;
        letter-spacing: 1px;
    }
}

.header-change {
    padding: 10px;
}

//end of scss for minutestips
//scss for contact-modal
.contact-modal-bg {
    background-image: url("../img/contest-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 5px;
    li {
        margin: 10px 0;
        color: #fff;
        font-size: 12px;
    }
    .contact-letter {
        margin-top: 5px;
        a,
        a:hover {
            color: #f2f2f2;
            background: transparent;
        }
    }
}

.location {
    margin-top: 20px;
    margin-bottom: 5px;
}

.ask-expert-bg {
    background-image: url("../img/expert-modal.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14px 20px;
    color: white;
    font-size: 20px;
    position: relative;
    .textarea-bg {
        background: #f2f2f2;
        border: none;
    }
    .form-invalid span {
        color: white;
        font-size: 12px;
        position: absolute;
        padding: 0 10px;
        bottom: -20px;
        left: 63%;
        transform: translate(-50%);
        min-width: 155px;
    }
}

.contact {
    color: white;
}

.ask-modal {
    .modal-dialog {
        width: 700px;
    }
    label {
        font-weight: 400 !important;
        padding: 0px 0px;
        color: white;
    }
    input {
        display: inline-block;
        width: 237px;
        color: white !important;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        border-color: white !important;
    }
    img {
        margin: 35px auto;
    }
    .form-control:focus {
        border-color: white;
    }
    .question-left {
        margin-left: 18px;
    }
    .input-width {
        width: 280px;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    button,
    button:hover,
    button:active,
    button:focus {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 20px;
        padding-right: 17px;
        outline: none !important;
    }
    .form-invalid .form-control {
        border-color: #fff;
    }
}

//scss for swiper
.gallery-bg {
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px!important;
        height: 350px;
        border: 2px solid white;
    }
    .swiper-pagination-bullets {
        display: none;
    }
    .swiper-button-prev {
        background: url("../img/previous-home.png");
        width: 60px;
        height: 60px
    }
    .swiper-button-next {
        background: url("../img/next-home.png");
        width: 60px;
        height: 60px
    }
}

//scss for gallery
.gallery-inside {
    margin: 280px 0px 170px 0px;
}

.gallery-pic-bottom {
    margin-bottom: 20px;
}

.gallery-btn button {
    font-size: 15px;
    background: transparent;
    color: #fef424;
    border: none;
    margin-top: 5px;
}

.season-text {
    position: absolute;
    top: -38px;
    left: 100px;
    h3 {
        font-size: 50px;
        color: #fef424;
        letter-spacing: 2px;
    }
}

.seasonOpacity {
    padding: 22px 22px 0;
    background: rgba(0, 0, 0, 0.59);
    width: 100%;
}

.season-common {
    a {
        display: block;
    }
}

.season-common {
    position: relative;
    border-top: none !important;
    padding: 35px 30px 30px;
    border: 8px solid #fef424;
    margin-bottom: 60px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 67%;
        border-bottom: 8px solid #fef424;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
        border-bottom: 8px solid #fef424;
    }
}

.max-height-gallery {
    height: auto;
}

.min-height-gallery {
    height: 482px;
    overflow: hidden;
}

//start of partners page
.minute-main-div {
    margin: 50px 0px;
}

.accordian_style {
    .accordian_panel {
        border-radius: 0px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 0;
    }
    img {
        margin-right: 15px;
    }
    .panel-group .panel-heading+.panel-collapse>.panel-body,
    .panel-group .panel-heading+.panel-collapse>.list-group {
        border-top: 0;
        color: white;
        border: 1px solid white;
        text-align: justify;
        background: transparent;
    }
    .panel-default .panel-heading {
        color: #e9e72b;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 0;
    }
}

//end of partners page
//scss for about-modal
.about-modal-bg {
    background-image: url("../img/about-modal-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 50px;
    p {
        text-align: justify;
        color: #f6f680;
    }
    .about-modal-heading {
        margin-bottom: 20px;
    }
    h1 {
        color: white;
        font-size: 40px;
        margin-top: 0;
        text-align: left;
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}

//scss for Digital courses
.digital-main {
    margin: 25px 0 60px;
}

.digital-login {
    margin-top: 42px;
}

.digital-course {
    margin-left: 80px;
    margin-top: 55px;
    padding: 40px 40px 50px 100px;
    border-bottom: 5px solid #e9e72b;
    border-right: 5px solid #e9e72b;
    position: relative;
    text-align: justify;
}

.computer {
    position: absolute;
    top: 35%;
    left: -75px;
}

.digital-course:before {
    content: '';
    left: 0;
    height: 74%;
    bottom: 0;
    position: absolute;
    border-left: 5px solid #e9e72b;
}

.digital-course {
    p {
        color: white;
        font-size: 15px;
        word-spacing: 5px;
    }
}

.digital-course h1 {
    font-size: 35px;
    color: #e9e72b;
    margin-bottom: 25px;
}

.digital-course:after {
    content: '';
    top: 25%;
    width: 10%;
    left: 0;
    position: absolute;
    border-bottom: 5px solid #e9e72b;
}

.digital-login h3 {
    font-size: 28px;
    color: #e9e72b;
}

.digital-login h3:before {
    content: '';
    width: 40%;
    left: -20px;
    top: 50px;
    position: absolute;
    border-bottom: 5px solid #e9e72b;
}

// .course-fb {
//     margin: 100px 0px 0 20px;
// }
.course-fb,
.course-google {
    margin: 50px 0px 0 20px;
}

.accordian-style {
    .accordian_panel {}
}

//Modal Contest 
// .contact-modal-bg {
//     background-image: url("../img/contest-bg.jpg");
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.contest-modal-bg {
    background-image: url("../img/contest-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 20px 0px;
    h1,
    li {
        color: #cccd7f;
    }
    .button-enter {
        margin: 80px 0px;
        a {
            font-size: 40px;
            color: black;
            text-decoration: none;
            font-family: kg-second-chances;
            background-image: url("../img/enter.png");
            padding: 10px 48px;
            border: none; //margin: 45px 0 30px;
        }
    }
}

.contest-modal-heading h1 {
    font-size: 40px;
    padding: 5px 0;
    font-family: kg-second-chances;
    display: inline-block;
    border-bottom: 2px solid #cccd7f;
}

.contest-modal-img {
    margin-top: 45px;
}

.list-content-order {
    margin-top: 65px;
    li {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: left;
        font-family: kg-second-chances;
    }
}

//End Modal Contest Enter
//scss for episode page
.episodes {
    position: relative;
    p {
        color: white;
        margin-top: 10px;
    }
}

.episode-bottom {
    margin-bottom: 5px;
}

.comming-soon {
    h2 {
        color: #fef424;
        margin: 30px 0;
    }
}

.max-height-season {
    height: auto;
}

.min-height-season {
    height: 482px;
    overflow: hidden;
}

.search-episode {
    padding: 0px 0 30px;
    .form-control {
        color: white;
        border: 2px solid #fef424;
        padding: 16px;
        background: rgba(0, 0, 0, 0.59);
    }
    .btn-search {
        border: 2px solid #fef424;
        padding: 16px;
        border-left: none;
        border-right: none;
        background: transparent;
        background-image: url("../img/search-icon-mobile.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .input-group {
        width: 100%;
        input::-webkit-input-placeholder {
            color: #fef424 !important;
        }
    }
    .input-group-btn {
        position: absolute;
        right: 32px;
        z-index: 2;
    }
}

//scss for digital-inside page
.digitalinside-bg {
    background-image: url("../img/green_chalkboard_wallpaper.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 96px);
}

.digital-course-type {
    padding: 0 13px;
    p {
        margin-top: 10px;
        font-size: 23px;
        letter-spacing: 2px;
        color: #fef424;
    }
    img {
        cursor: pointer;
    }
    // img {
    //     transition: all 1s ease-in-out;
    //     perspective: 500px;
    //     perspective-origin: 50% 100px;
    //     cursor: pointer;
    //     &:hover {
    //         @include transform(rotateY(180deg));
    //     }
    // }
}

.digital-heading {
    padding: 0 0px 0 20px;
    position: relative;
    border-left: 5px solid white;
    margin-left: 30px;
    &:before {
        content: '';
        border-bottom: 5px solid white;
        width: 860px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:after {
        content: '';
        position: absolute;
        border-bottom: 5px solid white;
        width: 100%;
        top: 0;
        left: 0;
    }
    h1 {
        font-size: 45px;
        font-family: NimbusSanL-Reg;
        color: #fef424;
        letter-spacing: 3px;
    }
}

.digitalinside-main {
    margin: 200px 0 15px 30px;
}

.computer-digital {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 38%;
        right: -33px;
        border-bottom: 5px solid white;
        width: 34px;
    }
}

.digital-course-type-main {
    margin-bottom: 100px;
} //scss for ourpartner-modal
.ourpartner-modal {
    margin: 80px 0 0px;
    h1 {
        font-size: 80px;
        font-family: "kg-second-chances";
        color: #fef424;
        letter-spacing: 3px;
    }
}

.landing {
    font-family: 'Himalaya';
}

//scss for digital courses
.login-digital {
    color: #e9e72b;
    padding: 20px 5px;
    .form-invalid,
    {
        color: #e9e72b !important;
    }
    .form-control {
        border-color: #fff !important;
        color: #000;
    }
    .form-group {
        text-align: left;
    }
}

.digital-submit {
    button {
        color: #000;
        background: #e9e72b;
        &:hover,
        &:focus {
            color: #000;
            background: lighten(#e9e72b, 10%);
        }
    }
}

.form-expert {
    min-height: 300px;
    position: relative;
    .thank-u {
        position: absolute;
        width: 100%;
        top: 50%;
        @include transform (translateY(-50%));
    }
}

//scss for thanks modal
.thank-bg {
    background-image: url(../img/contest-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

//scss for question-page
.question-page-bg {
    background-image: url(../img/contest-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.question-main {
    margin: 140px 0;
}

.question-section {
    margin: 220px 0 170px 145px;
    font-family: 'Kruti-Dev';
    font-size: 22px;
    text-align: left;
    input,
    p {
        display: inline-block;
        color: white;
    }
    span {
        font-family: 'Himalaya';
        color: white;
    }
    .radio-left {
        margin-left: 85px;
    }
}

.submit-question {
    margin-left: 90px;
    button, {
        font-family: 'NimbusSanL-Reg';
        font-size: 15px;
        background: #e9e72b;
        color: black;
        &:hover{
            background: #e9e72b;
        color: black; 
        }
    }
}

//scss for thank you modal
.thank-content {
    margin: 40px;
    font-family: 'NimbusSanL-Reg';
    font-size: 18px;
    color: #e9e72b;
}

//scss for digital-inside
.digitalinside-video {
    position: relative;
}

.video-digital {
    position: absolute;
    top: 45%;
    left: 45%;
}
.banking-episode{
    margin-bottom: 50px;
}
.btn-banking{
margin-top: 20px;
button{
    font-size: 18px;
    color: black;
    background: #d4aa00;
    border: none;
        padding: 8px 10px 3px 10px;
}
}
.question-digital {
    margin: 0px 0 20px 0px;
    font-family: 'Kruti-Dev';
    font-size: 20px;
    text-align: left;
    input,
    p {
        display: inline-block;
        color: white;
    }
    span{
    font-size:20px;
    font-family: 'Himalaya';
}
    .radio-left {
        margin-left: 20px;
    }
}
.question-font {
    font-family: 'Himalaya';
    color: white;
}

.video-content{
   font-family: 'NimbusSanL-Reg';
    color: #fef424;
    font-size: 18px;
}
//scss for digital-question page
.digital-question-section{
margin: 210px 0 50px 0 ;
}