.eraser {
	opacity: 0;
	@include animation(erase-duster 3.1s ease 2.5s forwards);
	@include animation-delay(3s);
}

.education-background .loaders-made .element-loader{
	@include animation(erase-content 1.5s ease 0.8s forwards);
	@include animation-delay(3.3s);
}

// @include keyframes (erase-duster) {
// 	0% {
// 		@include transform(translateX(-50%) rotate(-90deg));
// 	}
// 	20% {
// 		@include transform(translate(110%, -150%)rotate(-0deg));
// 	}
// 	80% {
// 		@include transform(translate(-803%, -135%) rotate(0deg));
// 	}
// 	100% {
// 		@include transform(translateX(-50%) rotate(-90deg));
// 	}
// }

@include keyframes (erase-duster) {
	0% {
		@include opacity(0);
	}
	20% {
		@include opacity(1);
	}
		95% {
		@include opacity(1);
		right: 100%;
	}
		100% {
		@include opacity(0);
		right: 100%;
	}
}

@include keyframes (erase-content) {
	0% {
		width: 500px;
	}
	100% {
		width: 0px;
	}
}