<footer ng-controller="headerCtrl">
    <div class="border-white">
        <div class="container">

            <div class="list-footer">

                <div class="footer-padding">
                    <ul class="footer-list-padd">
                        <li>
                            <a ui-sref="gallery">Gallery</a>
                        </li>
                        <li>
                            <a ng-click="changeURL('home-episodes')">Episodes</a>
                        </li>
                        <li>
                            <a href="" ng-click="openAbout();">About Us</a>
                        </li>
                        <li>
                            <a ng-click="openContact();">Contact</a>
                        </li>
                        <li>
                            <a ui-sref="minutestips">#1MINTIPS</a>
                        </li>
                        <li>
                            <a href="" ng-click="digitalcourseopen();">Digital Courses</a>
                        </li>
                        <li>
                            <a href="" ng-click="contestopen();">Contests</a>
                        </li>
                        <li>
                            <a href="" ng-click="changeURL('home-social-hub')">Social Hub</a>
                        </li>
                        <li>
                            <a ng-click="changeURL('home-anchor')">Our Anchors</a>
                        </li>
                        <li>
                            <a ng-click="changeURL('home-latest-buzz')">Latest Buzz</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="inline-block footer-padding">
                        <ul class="footer-list-padd">
                            <li><a href="" ng-click="openAbout();">About Us</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>-->
                <!--<div class="inline-block footer-padding">
                        <ul class="footer-list-padd">
                            <li><a href="">#1MINTIPS</a></li>
                            <li><a href="">Digital Courses</a> </li>
                        </ul>
                    </div>-->
                <!--<div class="inline-block footer-padding">
                        <ul class="footer-list-padd">
                            <li><a href="">Contests</a></li>
                            <li><a href="">Social Hub</a></li>

                        </ul>
                    </div>-->
                <!--<div class="inline-block footer-padding">
                        <ul class="footer-list-padd">
                            <li><a ng-click="changeURL('home-anchor')">Our Anchors</a></li>
                            <li><a ng-click="changeURL('home-latest-buzz')">Latest Buzz</a></li>
                        </ul>
                    </div>-->

                <!--<div class="row-flex">
                    <div class="col-flex">
                        <ul class="footer-list-padd">
                            <li><a ui-sref="gallery">Gallery</a></li>
                            <li><a ng-click="changeURL('home-episodes')">Episodes</a></li>

                        </ul>
                    </div>
                    <div class="col-flex">
                        <ul class="footer-list-padd">
                            <li><a href="" ng-click="openAbout();">About Us</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-flex">
                        <ul class="footer-list-padd">
                            <li><a href="">#1 Minute Tips</a></li>
                            <li><a href="">Digital Courses</a> </li>
                        </ul>
                    </div>
                    <div class="col-flex">
                        <ul class="footer-list-padd">
                            <li><a href="">Contests</a></li>
                            <li><a href="">Social Hub</a></li>

                        </ul>
                    </div>
                    <div class="col-flex">
                        <ul class="footer-list-padd">
                            <li><a ng-click="changeURL('home-anchor')">Our Anchors</a></li>
                            <li><a ng-click="changeURL('home-latest-buzz')">Latest Buzz</a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="footer-img pull-left">
            <img src="img/footer-icon.png" class="img-responsive">
        </div>
        <div class="footer-bottom pull-left">

            <p>@Pehla Kadam.{{template.year}} Right Reserved.</p>
        </div>

        <div class=" pull-right design-by">
            <p>Designed & Developed by
                <a href="http://www.wohlig.com" target="_blank">WOHLIG TECHNOLOGY</a>
            </p>
        </div>

    </div>

</footer>