<header hide-on-scrol ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-fixed-top navbar-color-change">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
               </button>
                <a class="navbar-brand" ui-sref="home"><img src="/img/main-logo.png" alt="logo" width="25%" class="img-width-change"> </a>
            </div>
            <div class="collapse navbar-collapse " id="nav-collapse">
                <!--<div ng-include="template.menu" class="template menu pull-right"></div>-->
                <ui class="nav navbar-nav pull-right main-menu">
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#episode">Episodes</a></li>
                    <li><a href="">About</a></li>
                    <li class="dropdown dropdown-toggle" data-toggle="dropdown"><a href="">Contact</a></li>
                    <ul class="list-unstyled  contact-modal-bg  dropdown-menu">
                        <li>
                            <div class=" location ">
                                <img src="img/map-location.png " class="img-responsive m-auto ">
                            </div>
                        </li>
                        <li class="text-center">CNBC TV18</li>
                        <li class="text-center">EMPIRE COMPLEX</li>
                        <li class="text-center">1st FLOOR, 414 SENAPATI BAPAT MARG</li>
                        <li class="text-center">NEAR KAMALA MILLS, MUMBAI</li>
                        <li class="text-center">MAHARASHTRA 400013</li>
                        <li>
                            <div class="letter-box ">
                                <img src="img/letter.png " class="img-responsive m-auto ">
                            </div>
                        </li>
                        <li class="text-center">cnbcawaaz@network18online.com</li>
                    </ul>
                </ui>
            </div>
            <div class="header-border hidden-xs"></div>
        </div>
    </nav>
</header>